body
{
  margin:0;
 color:#090909;
 
}

/*****************************************************************************************/
/*                                   Bandeau haut                                        */
/*****************************************************************************************/

.bandeauHaut
{
  background-color: black;
  height: 90px;
}
.bandeauHautCol
{
  /*background-color: green; */
  margin:auto;
  padding:5px; 
  max-width: 1300px;
  clear: both;
}

.bandeauHautLogin
{
  float: right;
  margin: 25px 0 10px;

}

.bandeauHautLogin img
{
margin-left: 10px;
}

.NomDeLutilisateur
{
color:white;
}
.bonjour
{
  color:#47433B;
}
.optionEngrenage
{
  border-image-repeat: no-repeat;
 

 }
 

/*****************************************************************************************/
/*                                  BANDEAU Menu                                                */
/*****************************************************************************************/

.bandeauMenu
{
  /*Ne pas supprimer => Pour centrage */
  background-color: #3d3d3d ;
  color: white;
  height: 70px
}
.bandeauMenuCol
{
  /*background-color: green; */
  max-width: 1300px; 
  margin:auto;
  padding:12px;
  /* transform: translateY(100%);     */
}
.nav-link
{
  margin: 0 0 0 75px;
}
.navbar 
{
  margin: -5px 0 10px 0;
}

/*****************************************************************************************/
/*                                BANDEAU Contenu
/*****************************************************************************************/
.bandeauContenu
{
  margin:auto;
  padding:0 10px 0 10px;
  /*background-color: aqua;*/
}

.bandeauContenuCol
{
 /* background-color:rgb(192, 30, 30); */
  max-width: 1300px; 
  margin:auto;
  padding:0;
}



/*****************************************************************************************/
/*                                   Illustration                                        */
/*****************************************************************************************/


/*****************************************************************************************/
/*                                   Boutons                                             */
/*****************************************************************************************/
.boutonAccidentDeTravail
{
  border: solid 1px;
  padding: 68px 10px;
  border-radius: 25px;
  background-color: grey;
  color: white;
}


/********************************* Bouton PAIE *******************************************/

.bouton
{
  
  border: solid 1px;
  padding: 30px 10px;
  border-radius: 25px;
  color: white;
  margin: 20px 30px;
}

.bouton img 
{
  float: left;
  margin: 0px 20px 0 10px;
}

.boutonPaie
{
  background-color:black;
}

.boutonAccidentDeTravail
{
  background-color:#4f4840;  
}

.boutonFormulaires
{
  background-color:orange;
}

.infoModules
{
  float: right;
  background-color:purple;
  border-radius: 25px;
}

.boutonText1
{
  text-align: right;
  /*color:orangered;*/
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: 130px;
 /* margin-right: 10px;*/
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.boutonText2
{
  color: #ffffff;
  font-size:15px;
  text-align: left;
  clear: both;
  padding: 34px 10px -5px 10px;
  opacity: 0.7;
}

.boutonIcone
{
  border-image-repeat: no-repeat;
}

.messages
{
   /*background-color: springgreen;*/ 
  border-top: 1px solid #cccccc;
  padding-top:30px;
  clear: both;
  /* text-align: center; */
}
/****************************************************************************/
/*                                 alerte                                   */
/****************************************************************************/

/********************************* lrhAlerte ********************************/

.lrhAlerte
{
  background-color: #ff4040;
  margin: 30px;
  padding: 20px 20px 20px 25px;

  color: #ffffff;
}
@media (min-width: 992px) {
  .col-btn {
    float: left;
    width: 25%;
    
  }  
 }

